@mixin font-size-variables($name, $size) {
  --font-size-#{$name}: #{$size};
}

$font-sizes: (
  ("global", 12px, 14px, 16px),
  ("h1", 2.5rem, 3rem, 3.5rem),
  ("h2", 2rem, 2.5rem, 3rem),
  ("h3", 1.75rem, 2rem, 2.5rem),
  ("h4", 1.5rem, 1.7rem, 2rem),
  ("title", 2rem, 2.5rem, 3rem),
  ("subtitle", 1.5rem, 2rem, 2.5rem),
);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth
  }
}

:root {

  &[data-device="mobile"] {
    @each $font in $font-sizes {
      @include font-size-variables(nth($font, 1), nth($font, 2));
    }
  }

  &[data-device="tablet"] {
    @each $font in $font-sizes {
      @include font-size-variables(nth($font, 1), nth($font, 3));
    }
  }

  &[data-device="web"] {
    @each $font in $font-sizes {
      @include font-size-variables(nth($font, 1), nth($font, 4));
    }
  }
}

html {
  font-size: var(--font-size-global);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

.title {
  font-size: var(--font-size-title);
}

.subtitle {
  font-size: var(--font-size-subtitle);
}