.p-dialog {
    border-radius: 6px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    // border: 1px solid #0b213f;
}

.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 700;
    font-size: 1.25rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
    border-color: transparent;
    background: rgba(255, 255, 255, 0.03);
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(196, 181, 253, 0.5);
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    margin-right: 0;
}

.p-dialog .p-dialog-content {
    // color: rgba(255, 255, 255, 0.87);
    padding: 0 1.5rem 2rem 1.5rem;
}

.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.p-dialog .p-dialog-footer {
    border-top: 0 none;
    background: #071426;
    color: rgba(255, 255, 255, 0.87);
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: right;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 2rem;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 1rem;
}

:root {
    &[data-theme="dark"] {
        .p-dialog .p-dialog-header {
            background: var(--jet-black);
            color: var(--snow);
        }

        .p-dialog .p-dialog-header .p-dialog-header-icon {
            color: var(--snow);
        }

        .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
            color: var(--snow);
        }

        .p-dialog .p-dialog-content {
            background: var(--jet-black);
        }
    }
    &[data-theme="light"] {
        .p-dialog .p-dialog-header {
            background: var(--snow);
            color: var(--jet-black);
        }

        .p-dialog .p-dialog-header .p-dialog-header-icon {
            color: var(--jet-black);
        }

        .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
            color: var(--jet-black);
        }

        .p-dialog .p-dialog-content {
            background: var(--snow);
        }
    }
}