<div *ngIf="!isLoading; else loading">
    <seccion class="parallax-item" *ngFor="let item of parallaxItems; let i = index" 
        [ngStyle]="{'background-image': getPropertiesByIndex(i)['background']}"
        [ngClass]="getPropertiesByIndex(i)['class']">
        <span class="pexels">
          <span>
            Foto de
            <a [href]= "getPropertiesByIndex(i)['photographer_url']" 
              target="_blank"
              rel="noopener noreferrer">
              {{getPropertiesByIndex(i)['photographer']}} 
            </a> 
            proporcionada por 
            <a href= "https://www.pexels.com" 
              target="_blank"
              rel="noopener noreferrer">
              Pexels
            </a>
          </span> 
        </span>
        <section class="content">
          <section class="content-seccion">
            <div>
                <h2 class="reveal">{{item.title}}</h2>
                <h2 class="reveal subtitle" 
                  *ngIf="item.subtitle">{{item.subtitle}}</h2>
                <!-- <div class="content-component">
                  <div [ngComponentOutlet]="item.component"></div>
                </div> -->
            </div>
          </section>
        </section>
      </seccion>
  </div>
  <ng-template #loading>
    <p-skeleton height="100vh"></p-skeleton>
  </ng-template>