
.p-input-icon-left>i:first-of-type {
    left: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-left>.p-inputtext {
    padding-left: 2.5rem;
}

.p-input-icon-left.p-float-label>label {
    left: 2.5rem;
}

.p-input-icon-right>i:last-of-type {
    right: 0.75rem;
    color: rgba(255, 255, 255, 0.6);
}

.p-input-icon-right>.p-inputtext {
    padding-right: 2.5rem;
}

p-autocomplete.ng-dirty.ng-invalid>.p-autocomplete>.p-inputtext {
    border-color: #FCA5A5;
}

p-autocomplete.p-autocomplete-clearable .p-inputtext {
    padding-right: 2.5rem;
}

p-calendar.ng-dirty.ng-invalid>.p-calendar>.p-inputtext {
    border-color: #FCA5A5;
}

p-calendar.p-calendar-clearable .p-inputtext {
    padding-right: 2.5rem;
}

p-chips.ng-dirty.ng-invalid>.p-chips>.p-inputtext {
    border-color: #FCA5A5;
}

p-chips.p-chips-clearable .p-inputtext {
    padding-right: 1.75rem;
}

.p-colorpicker-preview,
.p-fluid .p-colorpicker-preview.p-inputtext {
    width: 2rem;
    height: 2rem;
}

.p-input-filled .p-dropdown:not(.p-disabled).p-focus .p-inputtext {
    background-color: transparent;
}

.p-inputgroup>.p-component,
.p-inputgroup>.p-element,
.p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext,
.p-inputgroup>.p-float-label>.p-component {
    border-radius: 0;
    margin: 0;
}

.p-inputgroup>.p-component+.p-inputgroup-addon,
.p-inputgroup>.p-element+.p-inputgroup-addon,
.p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext+.p-inputgroup-addon,
.p-inputgroup>.p-float-label>.p-component+.p-inputgroup-addon {
    border-left: 0 none;
}

.p-inputgroup>.p-component:focus,
.p-inputgroup>.p-element:focus,
.p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext:focus,
.p-inputgroup>.p-float-label>.p-component:focus {
    z-index: 1;
}

.p-inputgroup>.p-component:focus~label,
.p-inputgroup>.p-element:focus~label,
.p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext:focus~label,
.p-inputgroup>.p-float-label>.p-component:focus~label {
    z-index: 1;
}

.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child,
.p-inputgroup>.p-inputwrapper:first-child>.p-component,
.p-inputgroup>.p-inputwrapper:first-child>.p-component>.p-inputtext {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.p-inputgroup-addon:last-child,
.p-inputgroup button:last-child,
.p-inputgroup input:last-child,
.p-inputgroup>.p-inputwrapper:last-child>.p-component,
.p-inputgroup>.p-inputwrapper:last-child>.p-component>.p-inputtext {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

p-inputmask.ng-dirty.ng-invalid>.p-inputtext {
    border-color: #FCA5A5;
}

p-inputmask.p-inputmask-clearable .p-inputtext {
    padding-right: 2.5rem;
}

p-inputnumber.ng-dirty.ng-invalid>.p-inputnumber>.p-inputtext {
    border-color: #FCA5A5;
}

.p-inputtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.87);
    background: #040d19;
    padding: 0.75rem 0.75rem;
    border: 1px solid #0b213f;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    appearance: none;
    border-radius: 6px;
}

.p-inputtext:enabled:hover {
    border-color: #C4B5FD;
}

.p-inputtext:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(196, 181, 253, 0.5);
    border-color: #C4B5FD;
}

.p-inputtext.ng-dirty.ng-invalid {
    border-color: #FCA5A5;
}

.p-inputtext.p-inputtext-sm {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
}

.p-inputtext.p-inputtext-lg {
    font-size: 1.25rem;
    padding: 0.9375rem 0.9375rem;
}

.p-input-icon-left>.p-inputtext {
    padding-left: 2.5rem;
}

.p-input-icon-right>.p-inputtext {
    padding-right: 2.5rem;
}

.p-input-filled .p-inputtext {
    background-color: #0b213f;
}

.p-input-filled .p-inputtext:enabled:hover {
    background-color: #0b213f;
}

.p-input-filled .p-inputtext:enabled:focus {
    background-color: #0b213f;
}

.p-inputtext-sm .p-inputtext {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
}

.p-inputtext-lg .p-inputtext {
    font-size: 1.25rem;
    padding: 0.9375rem 0.9375rem;
}

.p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext {
    padding-right: 1.75rem;
}

p-password.ng-invalid.ng-dirty>.p-password>.p-inputtext {
    border-color: #FCA5A5;
}

.p-paginator .p-paginator-page-input .p-inputtext {
    max-width: 3rem;
}
// .p-input-filled .p-cascadeselect {
//     background: #0b213f;
// }

// .p-input-filled .p-cascadeselect:not(.p-disabled):hover {
//     background-color: #0b213f;
// }

// .p-input-filled .p-cascadeselect:not(.p-disabled).p-focus {
//     background-color: #0b213f;
// }

// .p-input-filled .p-checkbox .p-checkbox-box {
//     background-color: #0b213f;
// }

// .p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
//     background: #C4B5FD;
// }

// .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
//     background-color: #0b213f;
// }

// .p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
//     background: #a28bfc;
// }

// .p-input-filled .p-dropdown {
//     background: #0b213f;
// }

// .p-input-filled .p-dropdown:not(.p-disabled):hover {
//     background-color: #0b213f;
// }

// .p-input-filled .p-dropdown:not(.p-disabled).p-focus {
//     background-color: #0b213f;
// }

// .p-input-filled .p-dropdown:not(.p-disabled).p-focus .p-inputtext {
//     background-color: transparent;
// }

// .p-inputgroup-addon {
//     background: #071426;
//     color: rgba(255, 255, 255, 0.6);
//     border-top: 1px solid #0b213f;
//     border-left: 1px solid #0b213f;
//     border-bottom: 1px solid #0b213f;
//     padding: 0.75rem 0.75rem;
//     min-width: 3rem;
// }

// .p-inputgroup-addon:last-child {
//     border-right: 1px solid #0b213f;
// }

// .p-inputgroup>.p-component,
// .p-inputgroup>.p-element,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext,
// .p-inputgroup>.p-float-label>.p-component {
//     border-radius: 0;
//     margin: 0;
// }

// .p-inputgroup>.p-component+.p-inputgroup-addon,
// .p-inputgroup>.p-element+.p-inputgroup-addon,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext+.p-inputgroup-addon,
// .p-inputgroup>.p-float-label>.p-component+.p-inputgroup-addon {
//     border-left: 0 none;
// }

// .p-inputgroup>.p-component:focus,
// .p-inputgroup>.p-element:focus,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext:focus,
// .p-inputgroup>.p-float-label>.p-component:focus {
//     z-index: 1;
// }

// .p-inputgroup>.p-component:focus~label,
// .p-inputgroup>.p-element:focus~label,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext:focus~label,
// .p-inputgroup>.p-float-label>.p-component:focus~label {
//     z-index: 1;
// }

// .p-inputgroup-addon:first-child,
// .p-inputgroup button:first-child,
// .p-inputgroup input:first-child,
// .p-inputgroup>.p-inputwrapper:first-child>.p-component,
// .p-inputgroup>.p-inputwrapper:first-child>.p-component>.p-inputtext {
//     border-top-left-radius: 6px;
//     border-bottom-left-radius: 6px;
// }

// .p-inputgroup .p-float-label:first-child input {
//     border-top-left-radius: 6px;
//     border-bottom-left-radius: 6px;
// }

// .p-inputgroup-addon:last-child,
// .p-inputgroup button:last-child,
// .p-inputgroup input:last-child,
// .p-inputgroup>.p-inputwrapper:last-child>.p-component,
// .p-inputgroup>.p-inputwrapper:last-child>.p-component>.p-inputtext {
//     border-top-right-radius: 6px;
//     border-bottom-right-radius: 6px;
// }

// .p-inputgroup .p-float-label:last-child input {
//     border-top-right-radius: 6px;
//     border-bottom-right-radius: 6px;
// }

// .p-fluid .p-inputgroup .p-button {
//     width: auto;
// }

// .p-fluid .p-inputgroup .p-button.p-button-icon-only {
//     width: 3rem;
// }

// p-inputmask.ng-dirty.ng-invalid>.p-inputtext {
//     border-color: #FCA5A5;
// }

// p-inputmask.p-inputmask-clearable .p-inputtext {
//     padding-right: 2.5rem;
// }

// p-inputmask.p-inputmask-clearable .p-inputmask-clear-icon {
//     color: rgba(255, 255, 255, 0.6);
//     right: 0.75rem;
// }

// p-inputnumber.ng-dirty.ng-invalid>.p-inputnumber>.p-inputtext {
//     border-color: #FCA5A5;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-input {
//     padding-right: 2.5rem;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-clear-icon {
//     color: rgba(255, 255, 255, 0.6);
//     right: 0.75rem;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-buttons-stacked .p-inputnumber-clear-icon {
//     right: 3.75rem;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-buttons-horizontal .p-inputnumber-clear-icon {
//     right: 3.75rem;
// }

// .p-inputswitch {
//     width: 3rem;
//     height: 1.75rem;
// }

// .p-inputswitch .p-inputswitch-slider {
//     background: #233752;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     border-radius: 30px;
// }

// .p-inputswitch .p-inputswitch-slider:before {
//     background: rgba(255, 255, 255, 0.6);
//     width: 1.25rem;
//     height: 1.25rem;
//     left: 0.25rem;
//     margin-top: -0.625rem;
//     border-radius: 50%;
//     transition-duration: 0.2s;
// }

// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
//     transform: translateX(1.25rem);
// }

// .p-inputswitch.p-focus .p-inputswitch-slider {
//     outline: 0 none;
//     outline-offset: 0;
//     box-shadow: 0 0 0 0.2rem rgba(196, 181, 253, 0.5);
// }

// .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
//     background: #0b213f;
// }

// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
//     background: #C4B5FD;
// }

// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
//     background: rgba(255, 255, 255, 0.87);
// }

// .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
//     background: #b3a0fc;
// }

// p-inputswitch.ng-dirty.ng-invalid>.p-inputswitch {
//     border-color: #FCA5A5;
// }

// .p-inputgroup-addon {
//     background: #071426;
//     color: rgba(255, 255, 255, 0.6);
//     border-top: 1px solid #0b213f;
//     border-left: 1px solid #0b213f;
//     border-bottom: 1px solid #0b213f;
//     padding: 0.75rem 0.75rem;
//     min-width: 3rem;
// }

// .p-inputgroup-addon:last-child {
//     border-right: 1px solid #0b213f;
// }

// .p-inputgroup>.p-component,
// .p-inputgroup>.p-element,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext,
// .p-inputgroup>.p-float-label>.p-component {
//     border-radius: 0;
//     margin: 0;
// }

// .p-inputgroup>.p-component+.p-inputgroup-addon,
// .p-inputgroup>.p-element+.p-inputgroup-addon,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext+.p-inputgroup-addon,
// .p-inputgroup>.p-float-label>.p-component+.p-inputgroup-addon {
//     border-left: 0 none;
// }

// .p-inputgroup>.p-component:focus,
// .p-inputgroup>.p-element:focus,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext:focus,
// .p-inputgroup>.p-float-label>.p-component:focus {
//     z-index: 1;
// }

// .p-inputgroup>.p-component:focus~label,
// .p-inputgroup>.p-element:focus~label,
// .p-inputgroup>.p-inputwrapper>.p-component>.p-inputtext:focus~label,
// .p-inputgroup>.p-float-label>.p-component:focus~label {
//     z-index: 1;
// }

// .p-inputgroup-addon:first-child,
// .p-inputgroup button:first-child,
// .p-inputgroup input:first-child,
// .p-inputgroup>.p-inputwrapper:first-child>.p-component,
// .p-inputgroup>.p-inputwrapper:first-child>.p-component>.p-inputtext {
//     border-top-left-radius: 6px;
//     border-bottom-left-radius: 6px;
// }

// .p-inputgroup .p-float-label:first-child input {
//     border-top-left-radius: 6px;
//     border-bottom-left-radius: 6px;
// }

// .p-inputgroup-addon:last-child,
// .p-inputgroup button:last-child,
// .p-inputgroup input:last-child,
// .p-inputgroup>.p-inputwrapper:last-child>.p-component,
// .p-inputgroup>.p-inputwrapper:last-child>.p-component>.p-inputtext {
//     border-top-right-radius: 6px;
//     border-bottom-right-radius: 6px;
// }

// .p-inputgroup .p-float-label:last-child input {
//     border-top-right-radius: 6px;
//     border-bottom-right-radius: 6px;
// }

// .p-fluid .p-inputgroup .p-button {
//     width: auto;
// }

// .p-fluid .p-inputgroup .p-button.p-button-icon-only {
//     width: 3rem;
// }

// p-inputmask.ng-dirty.ng-invalid>.p-inputtext {
//     border-color: #FCA5A5;
// }

// p-inputmask.p-inputmask-clearable .p-inputtext {
//     padding-right: 2.5rem;
// }

// p-inputmask.p-inputmask-clearable .p-inputmask-clear-icon {
//     color: rgba(255, 255, 255, 0.6);
//     right: 0.75rem;
// }

// p-inputnumber.ng-dirty.ng-invalid>.p-inputnumber>.p-inputtext {
//     border-color: #FCA5A5;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-input {
//     padding-right: 2.5rem;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-clear-icon {
//     color: rgba(255, 255, 255, 0.6);
//     right: 0.75rem;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-buttons-stacked .p-inputnumber-clear-icon {
//     right: 3.75rem;
// }

// p-inputnumber.p-inputnumber-clearable .p-inputnumber-buttons-horizontal .p-inputnumber-clear-icon {
//     right: 3.75rem;
// }

// .p-inputswitch {
//     width: 3rem;
//     height: 1.75rem;
// }

// .p-inputswitch .p-inputswitch-slider {
//     background: #233752;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     border-radius: 30px;
// }

// .p-inputswitch .p-inputswitch-slider:before {
//     background: rgba(255, 255, 255, 0.6);
//     width: 1.25rem;
//     height: 1.25rem;
//     left: 0.25rem;
//     margin-top: -0.625rem;
//     border-radius: 50%;
//     transition-duration: 0.2s;
// }

// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
//     transform: translateX(1.25rem);
// }

// .p-inputswitch.p-focus .p-inputswitch-slider {
//     outline: 0 none;
//     outline-offset: 0;
//     box-shadow: 0 0 0 0.2rem rgba(196, 181, 253, 0.5);
// }

// .p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
//     background: #0b213f;
// }

// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
//     background: #C4B5FD;
// }

// .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
//     background: rgba(255, 255, 255, 0.87);
// }

// .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
//     background: #b3a0fc;
// }

// p-inputswitch.ng-dirty.ng-invalid>.p-inputswitch {
//     border-color: #FCA5A5;
// }

// .p-inputwrapper-filled .p-multiselect.p-multiselect-chip .p-multiselect-label {
//     padding: 0.375rem 0.75rem;
// }

// .p-input-filled .p-multiselect {
//     background: #0b213f;
// }

// .p-input-filled .p-multiselect:not(.p-disabled):hover {
//     background-color: #0b213f;
// }

// .p-input-filled .p-multiselect:not(.p-disabled).p-focus {
//     background-color: #0b213f;
// }

// .p-input-filled .p-radiobutton .p-radiobutton-box {
//     background-color: #0b213f;
// }

// .p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
//     background-color: #0b213f;
// }

// .p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
//     background: #C4B5FD;
// }

// .p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
//     background: #a28bfc;
// }

// .p-inputwrapper-filled .p-treeselect.p-treeselect-chip .p-treeselect-label {
//     padding: 0.375rem 0.75rem;
// }

// .p-input-filled .p-treeselect {
//     background: #0b213f;
// }

// .p-input-filled .p-treeselect:not(.p-disabled):hover {
//     background-color: #0b213f;
// }

// .p-input-filled .p-treeselect:not(.p-disabled).p-focus {
//     background-color: #0b213f;
// }