.text {
    // width: 100%;
    // font-size: 30px;
    line-height: 1.2;
    color: var(--snow);
    text-align: center;
    position: absolute;
    font-family: var(--primary-font);
    font-weight: bold;
    height: auto;
    // background-color: violet;
    // min-height: 100vh;
}
// span {
//     position: relative; 
//     display: inline-block;
// }