:root {
    --content-padding: 1.25rem;
    --inline-spacing: 0.5rem;
    --border-radius: 6px;
    --maskbg: rgba(0, 0, 0, 0.4);
}

.p-component {
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: normal;
}

.p-component-overlay {
    background-color: var(--secondary-color);
    transition-duration: 0.2s;
}

.p-disabled,
.p-component:disabled {
    opacity: 0.4;
}

.p-error {
    color: #FCA5A5;
}

.p-text-secondary {
    color: rgba(255, 255, 255, 0.6);
}

.pi {
    font-size: 1rem;
}

.p-link {
    font-size: 1rem;
    font-family: var(--text-font);
    border-radius: 6px;
}

.p-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(196, 181, 253, 0.5);
}

.p-component-overlay-enter {
    animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay-leave {
    animation: p-component-overlay-leave-animation 150ms forwards;
}

@keyframes p-component-overlay-enter-animation {
    from {
        background-color: transparent;
    }

    to {
        background-color: var(--maskbg);
    }
}

@keyframes p-component-overlay-leave-animation {
    from {
        background-color: var(--maskbg);
    }

    to {
        background-color: transparent;
    }
}