<!-- <div class="card flex justify-content-center"> -->
<div class="container">
    <div class="row">
        <div class="col">
            <p-card header="Seguimos mejorando nuestro sitio web" subheader="Esta sección sigue en desarrollo" [style]="{ width: '100%', marginTop: '20vh' }">
                <ng-template pTemplate="header">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img alt="Card" src="../../../../assets/icons/trex-chrome-game.png" style="max-height: 40vh; width: 80%;" />
                            </div>
                        </div>
                    </div>
                </ng-template>
                <p>
                    Estamos emocionados de anunciar que estamos trabajando en nuevas secciones para nuestro sitio web. Actualmente estamos implementando nuevas rutas de navegación que aún no tienen contenido. Estamos trabajando arduamente para desarrollar contenido interesante y valioso para estas secciones, y esperamos poder compartirlo con ustedes muy pronto. Les agradecemos su paciencia mientras seguimos mejorando nuestro sitio web y agregando nuevas funciones. ¡Manténganse al tanto para más actualizaciones emocionantes!
                </p>
                <ng-template pTemplate="footer">
                    <button pButton pRipple type="button" icon="bi bi-arrow-left-circle-fill"
                            class="p-button-info p-button-outlined"></button>
                    <!-- <p-button label="Save" icon="bi bi-arrow-left-circle-fill"></p-button> -->
                    <!-- <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button> -->
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
<!-- </div> -->